.batalla{
    display: grid;
    grid-template-columns: repeat(auto, 2px);
    height: auto;

}
.container{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    text-align: center;

}

.puntaje1{
    margin-right: 10vw;
}
.puntaje2{
    margin-left: 10vw;
}
.responsive{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  
}
.puntaje{
    display: 'flex';
    align-items: 'center';
    justify-Content: 'center';
}
.info{
    font-size:2vw
}
.imgArma{
 width: 10vw;
 height: auto;
 
}
.imgArma:hover{
    width: 10vw;
    height: auto;
    cursor: pointer;
    width: 105%;
    
   }

.imgBatalla{
    justify-content: 'center';
    align-items: 'center';
    width: 10vw;
    height: auto;
   margin-left: 45vw;
   }
