.batalla{
    display: grid;
    grid-template-columns: repeat(auto, 2px);

}
.container{
    position: relative;
    text-align: center;
}


.responsive{
   
}
.imgArma{
 width: 10vw;
 height: auto;
}
.imgBatalla{
    justify-content: 'center';
    align-items: 'center';
    width: 10vw;
    height: auto;
   margin-left: 45vw;
   }
